/**
 *@fileName reset.css
 *@author   Like (likeaixi@gmail.com)
 *@date     2018/4/2
 *@disc     个人样式重写文件
 */
* {
    box-sizing: border-box;
}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form {
    margin: 0;
}
ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4d4d4d;
}